*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}
#root{
  background-image: url('./assets/images/table1.jfif');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  color: white;
  /* font-size: 25px; */
  font-weight: 800;
}
.App{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
#bgText{
  text-transform: uppercase;
  border: 1px solid red;
  text-align: center;
}
#bgText h1{
  font-size:20px;
}
#logo{
  position: absolute;
  /* left: 10px; */
  font-size: 16px;
}