*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  font-weight: 800;
}
#root{
  position: relative;
  background-image: url('./assets/images/table1.jfif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  color: white;
}
/* .row{ */
  /* position: relative; */
/* } */
.App.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 40, 40, 0.4);
}
#bgText{
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
#countdown-column{
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 16px;
}
#logo{
  position: absolute;
  font-size: 16px;
  top: 10px;
}
#logo a {
  color: white;
  text-decoration: underline;
}
hr {
  width: 40%;
  margin: 0 auto;
  border: 1px solid yellow;
}

/* -------------------homepage css----------------
----------------------------------------------- */
.homepage-container{
  /* @media only screen */
  padding-left: 0;
  padding-right: 0;
}
.carousel-item > img, img { 
  width: 100%; 
  height: auto;
}
.container-2{
  background-color: white;
  color: black;
}
#heroImg-wrapper{
  /* position: fixed;
  top: 0;
  left: 0;
  height: 50%; */
}
#heroImg{
  /* background-image: url('./assets/images/banner3.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%; */
}
#heroImg-caption{
  /* background-image: url('./assets/images/chair.jfif');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%; */
}
/* clip-path: polygon(100% 0%, 66% 0%, 38% 0%, 19% 0%, 10% 0%, 19% 29%, 21% 73%, 14% 100%, 39% 100%, 60% 100%, 75% 100%, 100% 100%, 100% 51%, 100% 25%); */

@media only screen and  (min-width: 768px){
  #bgText{
    font-size: 30px;
  }
  #bgText h1 {
    font-size: 80px;
  }
  #countdown-column{
    font-size: 30px;
  }
}