*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

html, body {
  overflow-x: hidden;
  font-weight: 800;
  position: relative;
  background-image: url('./assets/images/table1.jfif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  color: white;
}
.App.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 40, 40, 0.4);
}
#bgText{
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
#countdown-column{
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 16px;
}
#logo{
  position: absolute;
  font-size: 16px;
  top: 10px;
}
#logo a {
  color: white;
  text-decoration: underline;
}
hr {
  width: 40%;
  margin: 0 auto;
  border: 1px solid yellow;
}

/* -------------------homepage css----------------
----------------------------------------------- */
.homepage-container{
  /* @media only screen */
  padding-left: 0;
  padding-right: 0;
}
.carousel-item > img, img { 
  width: 100%; 
  height: auto;
}
.carousel-caption{
  position: absolute;
  top: 0;
  left: 0;
  display: block !important;
  width: 100%;
  border: 1px solid red;
  text-align: justify;
}
.carousel-caption h3{
  border: 1px solid red;
  position: absolute;
  top: 15%;
  left: 20%;
  font-size: 1em;
  width: 80%;
}
.containers{
  color: black;
  text-align: justify;
  padding: 30px 20px;
}
.container-2{
  background-color: white
}
.row-1, .row-2{
  margin: 50px 0;
  font-family: 'Tangerine', cursive;
}
.para-header{
  font-size: 1.3em;
  text-align: center;
}
.welcome-caption{
  text-align: center;
  font-size: 0.8em;
}
.container-3{
  background-color: #f7f7f7;
}
.container-3 img{
  width: 50%;
}
.image-border{
  border: 1px solid #D66D75;
  -webkit-border-radius: 14px 0px 14px 0px;
  -moz-border-radius: 14px 0px 14px 0px;
  border-radius: 14px 0px 14px 0px;
  text-align: center;
}
.image-border:hover{
  background: #D66D75;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}
.image-border:nth-child(2), .image-border:nth-child(4){
  -webkit-border-radius: 0px 14px 0px 14px;
  -moz-border-radius: 0px 14px 0px 14px;
  border-radius: 0px 14px 0px 14px;
}
.image-border button{
  color: #0D82E2;
  border-color: #0D82E2;
}
.image-border:hover button{
  color: white;
  border-color: white;
} 
.image-border:hover button:hover{
  color: white;
  background-color: #D66D75;
  border-color: #D66D75;
} 
.container-4{
  text-align: center;
  text-transform: uppercase;
  padding: 100px 0;
}

/* @media only screen and (max-width : 767px){
  .carousel-caption{
   
  }
  .carousel-caption h3{
    font-size: 1em;
  }
} */

@media only screen and  (min-width: 768px){
  #bgText{
    font-size: 30px;
  }
  #bgText h1 {
    font-size: 80px;
  }
  #countdown-column{
    font-size: 30px;
  }
  .container-3 img{
    width: 10%;
  }
}